.forecastDaysHolder{
    display: flex;
}

.forecastDaysLabels {
    min-width: fit-content;

    margin: 0;
    padding: 0;
}

.forecastDayLabel {
    height: 30px;

    list-style-type: none;

    text-align: center;
}

.forecastDaysForecast {
    display: flex;

    margin-left: 10px;

    overflow-x: scroll;
}
